<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      <%=translation.auth.presentation.title%>
    </h3>
    <span>
      <%=translation.auth.presentation.subtitle01%>
    </span>
    <p>
      <%=translation.auth.presentation.subtitle02%>
    </p>
    <footer>
      <a href="/sign_up/" class="btn btn-default sign_up">
        <%=translation.auth.presentation.signup_btn%>
      </a>
      <a href="http://fiware-idm.readthedocs.io/en/latest/customize/" class="btn btn-default"><%=translation.auth.presentation.docs_btn%></a>
    </footer>
  </section>
</div>



<script>
  var confirm_help_box = function () {
    var r = confirm("The communications sent to the Mr Install Cloud support list are public and they generate public tickets (including email addresses and names). Please avoid sending private info to them unless you are happy to see them publicly available.");
      if (r == true) {
          window.location = "mailto:support@mrinstall.com?Subject=Mr Install Cloud Assistance";
    }
  }
</script>
