<footer class="footer-main">
  <div class="container-fluid">
      <div class="footer-content">
          <div class="cred">
        <%=translation.footer.cred_date%>
        <a href="#"><%=translation.footer.author%></a><%=translation.footer.university%>

        <%=translation.footer.fiware%>
            <a href="#" target="a_blank"><%=translation.footer.condit02%></a>,

            <a href="#" target="a_blank"><%=translation.footer.condit03%></a>
            
            <a href="#" target="a_blank"><%=translation.footer.condit04%></a>.
      </div>
    </div>
  </div>
</footer>