<footer class="footer-main">
  <div class="container-fluid">
      <div class="footer-content">
          <div class="cred">
        2015 © 
        <a href="http://www.fiware.org/">FIWARE</a>.

        The use of FIWARE Lab services is subject          <%=translation.footer.fiware%>
            <a href="#" target="_blank"><%=translation.footer.condit02%></a>,

            <a href="#" target="_blank"><%=translation.footer.condit03%></a>
            <%=translation.generic.navigation.first%>
            <a href="#" target="_blank"><%=translation.footer.condit04%></a>.
      </div>
    </div>
  </div>
</footer>