<div id="" class="registration ">
		<div class="modal-header">
			<h3><%=translation.users.new_user.title%></h3>
		</div>
		<form id="register_user_form" ng-controller="DummyCtrl" name="" autocomplete="" class="" action="/sign_up/" method="POST" enctype="">
		<input type='hidden' name='_csrf' value='<%= csrf_token%>' />
			<div class="modal-body clearfix">
				<% var nameErrors = [] %>
			    <% if (errors.length) { %>
			        <% for (var i in errors) { %>
			        	<% nameErrors.push(errors[i].message)%>
			        <% } %>
			    <% } %>
			    <% if (nameErrors.indexOf("passwordDifferent") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.alert01%></span>
			    <% } %>
			    <% if (nameErrors.indexOf("emailUsed") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.alert02%></span>
			    <% } %>
			    <% if (nameErrors.indexOf("emailInvalid") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.alert03%></span>
			    <% } %>
				<div class="form-group ">
					<label class="control-label" for="id_username"><%=translation.users.new_user.label01%></label>
					<div class=" ">
						<input class="form-control" id="id_username" maxlength="30" name="username" type="text" value="<%= user_info.username %>"/>
					</div>
				</div>
				<% if (nameErrors.indexOf("username") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.required_field%></span>
			    <% } %>
				<div class="form-group ">
					<label class="control-label" for="id_email"><%=translation.users.new_user.label02%></label>
					<div class=" ">
						<input class="form-control" id="id_email" name="email" type="email" value="<%= user_info.email %>"/>
					</div>
				</div>
				<% if (nameErrors.indexOf("email") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.required_field%></span>
			    <% } %>
				<div class="form-group ">
					<div id="gravatar-checkbox">
						<div class="checkbox">
							<label>
								<input id="id_use_gravatar" name="use_gravatar" type="checkbox" />
								<span><%=translation.users.new_user.content01%></span>
							</label>
						</div>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="control-label" for="id_password1">
						<%=translation.users.new_user.label03%>
						<!-- <a href="" class="hard_pwd" data-toggle="tooltip" data-placement="top" title="">hard</a> -->
					</label>
					<div class=" ">
						<input class="form-control" id="id_password1" name="password1" type="password" />
						<span class="form-control-feedback fa fa-eye"></span>
					</div>
				</div>
				<% if (nameErrors.indexOf("password1") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.required_field%></span>
			    <% } %>
				<div class="form-group has-feedback">
					<label class="control-label" for="id_password2"><%=translation.users.new_user.label04%></label>
					<div class=" ">
						<input class="form-control" id="id_password2" name="password2" type="password" />
						<span class="form-control-feedback fa fa-eye"></span>
					</div>
				</div>
				<% if (nameErrors.indexOf("password2") != -1) { %>
			        <span class="help-block alert alert-danger "><%=translation.users.new_user.required_field%></span>
			    <% } %>
				<div class="form-group" style="display: flex; justify-content: center;">
					<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
					<div class="cf-turnstile" data-sitekey="0x4AAAAAADnnuBIOhdScTtil"></div>
				</div>
			</div>
			<div class="modal-footer">
				<label class="conditions checkbox-inline">
					<input type="checkbox" id="inlineCheckbox1" required="required" title="You need to accept the Terms and Conditions to create your account" value="option1"> I accept Mr Install Cloud <a href="#" target="_blank">Terms and Conditions</a>
				</label>
				<button type="submit" class="btn btn-primary pull-right"><%=translation.users.new_user.signup_btn%></button>
				<div class="actions">
					<a href="/password/request/">
						<%=translation.users.new_user.link01%>
					</a>
					<a href="/confirmation/">
						<%=translation.users.new_user.link02%>
					</a>
			</div>
			</div>
		</form>
	</div>